
@{
    ViewBag.Title = "Ekle";
}

<h2>Departman Ekleme Sayfası</h2>

<form class="form-group" method="post">
    
    <div class="container">
        <label>Departman </label> 
        <input type="text" class="form-control" name="Departman" required/>
        <br />
      
    </div>
    <div> <button class="btn btn-primary">Yeni Ekle</button></div>

</form>